/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  -webkit-backface-visibility: hidden;
}

body {
  font: 400 16px/1.5 'Open Sans', sans-serif;
  color: #777;
  background-color: #ccc;
  /* to fix text resizing ios */
  -webkit-text-size-adjust: none;
  /* momentum scrolling ios */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

strong {
  font-weight: 600;
}

@media screen and (min-width: 1030px) {
  body {
    font-weight: 300;
  }

  strong {
    font-weight: 400;
  } 
}

.page-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
}

@media screen and (min-width: 1120px) {
  .page-wrapper {
    width: 90%;
  }
}

p {
  margin-bottom: .8em;
  font-size: 1em;
}

h2 {
  font-size: 1.8em;
  font-weight: 600;
  color: #48a1b9;
  margin-bottom: .5em;
  line-height: 1.2;
}

h3 {
  margin-bottom: .15em;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3;
  color: #555;
}

h4 {
  font-weight: 400;
  font-size: 1.2em;
  color: #48a1b9;
}

h5 {
  margin-top: 1em;
  margin-bottom: .15em;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.2;
  color: #555;
}

h6 {
  font-weight: 600;
  line-height: 1.4;
  color: #555;
}

a {
  color: #d20b43;
}

a:focus {
  color: #000;
}

@media screen and (min-width: 1030px) {
  a:hover {
    color: #000;
  }

  h6 {
    font-weight: 400;
    line-height: 1.4;
    color: #555;
  }
}

.bullets {
  list-style-type: disc;
  list-style-position: inside;
}

.btn {
  display: inline;
  padding: 0;
  margin-top: -10px;
  color: #d20b43;
}

article h3 {
  font-size: 1em;
  font-weight: 600;
}

article p {
  margin-bottom: .2em;
}

@media screen and (min-width: 540px) {

  article h3 {
    font-size: 1.4em;
    font-weight: 400;
  }

  .btn {
    margin-top: .6em;
    display: inline-block;
    padding: .3em .7em .4em;
    margin-bottom: .5em;
    color: #d20b43;
    text-decoration: none;
    border: 1px solid #d20b43;
  }

  .btn:focus {
    color: #d20b43;
    background-color: #ffeeee;
  }

  @media screen and (min-width: 1030px) {
    .btn:hover {
      color: #d20b43;
      background-color: #ffeeee;
    }
  }
}

hr {
  margin: 30px 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  clear: both;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

/* Header */

header {
  height: 200px;
  margin-bottom: 10px;
}

.logo {
  float: left;
  width: 20%;
  height: 150px;
  margin: 3% 2.5% 0;
  background: url(../images/logo.svg) no-repeat center;
  background-size: contain;
}

.header-image {
  float: right;
  width: 75%;
  height: 200px;
  background: url(../images/header-service-dogs.jpg) no-repeat left;
  background-size: cover;
}

@media screen and (min-width: 1050px) {
  .logo {
    width: 15%; 
  }

  .header-image {
    width: 80%; 
  }
}

/* Navigation */

.main-nav {
  width: 100%;
  height: 3.3em;
  line-height: 3.3em;
  background-color: #d20b43;
}

@media screen and (min-width: 1120px) {
  .main-nav {
    width: 102%;
    margin-left: -1%;
  }  
}

.main-nav ul {
  margin: 0 auto;
  text-align: center;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  padding: .6em .4em .5em;
  font-size: .8em;
  color: #fff;
  text-decoration: none;
}

.main-nav .current-page {
  background-color: #aa0332;
}

.main-nav a:focus {
  background-color: #aa0332;
}

@media screen and (min-width: 1030px) {
  .main-nav a:hover {
    background-color: #aa0332;
  }
}

@media screen and (min-width: 850px) {
  .main-nav a {
    padding-right: .4em;
    padding-left: .4em;
    font-size: .85em;
  }
}

@media screen and (min-width: 940px) {
  .main-nav a {
    padding-right: .5em;
    padding-left: .5em;
    font-size: .9em;
  }
}

@media screen and (min-width: 990px) {
  .main-nav a {
    padding-right: .7em;
    padding-left: .7em;
  }
}

@media screen and (min-width: 1140px) {
  .main-nav a {
    padding-right: 1em;
    padding-left: 1em;
  }
}

/* Content */

.content-wrapper {
  background-color: #fff;
}

/* Content - Main */

.main-content {
  position: relative;
  width: 92%;
  margin: 130px 3.75% 30px 0;
  float: right;
}

@media screen and (max-width: 549px) {
  #show .main-content {
    margin-top: 280px;
  }
}

@media screen and (min-width: 550px) and (max-width: 799px) {
  .main-content {
    margin-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .main-content {
    width: 68%;
    margin-top: 50px;
  } 
}

.main-content article {
  display: table;
  margin: .2em 0;
  background-repeat: no-repeat;
}

.bark-bid,
.dog-training,
.calendar-2016,
.camille {
  background-image: none;  
}

article img {
  float: right;
  margin-left: 1em;
  margin-bottom: .3em;
}

.bark-bid img {
  height: 115px;
}

.dog-training img {
  height: 145px;
}

.calendar-2016 img {
  height: 115px;
}

.camille img {
  height: 115px;
}

@media screen and (min-width: 540px) {
  .small-screen {
    display: none;
  }

  .bark-bid {
    min-height: 220px;
    padding-left: 330px;
    background: url(../images/bark-bid-2016.jpg) left center;
  }

  .dog-training {
    min-height: 250px;
    padding-right: 200px;
    background: url(../images/dog-training.jpg) right center;
  }

  .calendar-2016 {
    min-height: 220px;
    padding-left: 315px;
    background: url(../images/calendar-2016.jpg) left center;
  }

  .camille {
    min-height: 220px;
    padding-right: 285px;
    background: url(../images/camille.jpg) right center;
  }
}

.adi {
  float: left;
  width: 85px;
  margin-right: 25px;
}

.ibpsa {
  float: left;
  width: 100px;
}

@media screen and (max-width: 549px) {
  section#hide {
    display: none;
  }
}

@media screen and (max-width: 549px) {
  section#hide .main-content {
    margin-top: 150px;
  }
}

/* Content - Sidebar */

.sidebar {
  position: relative;
}

@media screen and (min-width: 800px) {
  .sidebar {
    float: left;
    width: 20%; 
    margin: 35px 4.5% 35px 3.75%;
  }
}

/* Sidebar - Hiring */

.hiring {
  position: absolute;
  top: 690px;
  width: 100%;
  height: 150px;
  margin: 25px 0;
  font-size: .95em;
  font-weight: 300;
  letter-spacing: .02em;
  color: #fff;
  background-color: #81af68;
  clear: both;
  display: table;
  border-collapse: collapse;
}

.hiring-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 1.2em 1.6em;
}

.hiring span {
  padding-right: .3em;
  padding-left: .25em;
}

.hiring h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
  display: inline;
}

.hiring p {
  display: inline;
  line-height: 1.6;
}

@media screen and (min-width: 550px) and (max-width: 799px) {
  .hiring {
    position: relative;
    height: 100px;
    top: 320px;
  }
}

@media screen and (min-width: 800px) {
  .hiring {
    position: relative;
    top: 100%;
    width: 100%;
    font-size: .95em;
    font-weight: 300;
    letter-spacing: .02em;
    color: #fff;
    background-color: #81af68;
    clear: both;
    display: table;
    border-collapse: collapse;
    height: auto;
    margin: 0;
    margin-bottom: 25px;
    padding-top: 1.6em;
  }

  .hiring span {
    display: none;
  }

  .hiring h3 {
    display: block;
    padding-right: 0;
  }

  .hiring p {
    display: block;
    line-height: 1.5;
  }
}

.sidebar .hiring a {
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}

.sidebar .hiring a:focus {
  color: #2d7009;
}

@media screen and (min-width: 1030px) {
  .sidebar .hiring a:hover {
    color: #2d7009;
  }
}

/* Sidebar - Links */

@media screen and (max-width: 549px) {
  aside.hiring {
    margin-top: 0;
  }

  .sidebar .side-links {
    background-color: #fff;
    padding-top: 0;
    margin-bottom: 0;
  }

  .sidebar .side-links a {
    display: block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    padding-left: 3.8em;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 2em;
  }

  .sidebar .side-links a:last-child {
    margin-bottom: 0;
  }

  .side-links a img {
    display: inline-block;
    float: left;
    margin: 0;
    position: absolute;
    bottom: 1.15em;
    left: 0;
  }

  span.download {
    display: none;
  }
}

@media screen and (min-width: 550px) and (max-width: 799px) {

  .sidebar {
    position: relative;
    top: -25px;
  }

  .sidebar .side-links {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 150px;
    background-color: #fff;
    padding: .5em;
  }

  .sidebar .side-links a {
    border: 0;
    display: inline-block;
    float: left;
    width: 20%;
    padding-right: 1.4em;
    padding-left: 1.4em;
    font-size: .85em;
    font-weight: 400;
  }

  .side-links strong {
    font-weight: 400;
  }

  span.download {
    display: none;
  }
}

.side-links {
  padding: .8em 1.5em .1em;
  margin-bottom: 25px;
  text-align: center;
  background-color: #eee;
}

.side-links a {
  display: block;
  padding-bottom: 2em;
  margin-bottom: 2em;
  line-height: 1.4;
  color: #777;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  font-size: .95em;
}

.side-links a:last-child {
  margin-bottom: .8em;
  border: 0;
}

.side-links a:focus {
  color: #000;
}

@media screen and (min-width: 1030px) {
  .side-links a:hover {
    color: #000;
  }
}

.link {
  display: block;
  width: 60px;
  margin: 2em auto .5em;
}

/* Footer */

footer {
  margin-bottom: 50px;
  clear: both;
}

address {
  position: relative;
  width: 100%;
  color: #fff;
  background-color: #d20b43;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1em;
  padding-bottom: 15px;
}

@media screen and (min-width: 1120px) {
  address {
    width: 102%;
    margin-left: -1%;
  }  
}

address a {
  display: block;
  font-size: .85em;
  padding: .3em;
  color: #fff;
  text-decoration: none;
}

address a:focus {
  background-color: #aa0332;
}

@media screen and (min-width: 1030px) {
  address a:hover {
    background-color: #aa0332;
    color: #fff;
  }
}

.social a:focus {
  width: auto;
}

@media screen and (min-width: 1030px) {
  .social a:hover {
    width: auto;
  }
}

@media screen and (min-width: 785px) {
  footer {
    text-align: center;
  }

  address {
    position: relative;
    padding: 0;
  }

  address a {
    position: relative;
    bottom: .15em;
    display: inline;
    padding: 0 .4em;
  }
}

@media screen and (min-width: 850px) {
  address a {
    font-size: .9em;
    padding: .5em .8em;
  }
}

@media screen and (min-width: 1000px) {
  address a {
    font-size: 1em;
  }
}

.social {
  display: none;
  margin-top: .6em;
}

.social a {
  float: left;
  padding-right: .4em;
}

.social a:focus {
  background-color: #d20b43;
}

@media screen and (min-width: 1030px) {
  .social a:hover {
    background-color: #d20b43;
  }
}

.social img {
  position: relative;
  bottom: .1em;
  width: 2.8em;
  height: 2.8em;
  padding: .4em;
  margin-left: -.5em;
  vertical-align: middle;
}

@media screen and (min-width: 500px) and (max-width: 784px) {
  div.social {
    display: inline-block;
    margin-left: .6em;
    position: absolute;
    top: 50px;
    right: 15px;
    margin-bottom: 100px;
  }

  .copy-credit {
    width: 500px;
  }
  
  address {
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 785px) {
  .social {
    display: inline-block;
    margin-left: .6em;
  }

  .social a {
    float: none;
    padding: 0;
  }

  .copy-credit {
    width: 500px;
  }
}

@media screen and (min-width: 850px) {
  .social {
    margin-left: 1em;
  }
  footer {
    text-align: center;
  }
  .copy-credit {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.copy-credit {
  margin: 0 auto;
  position: relative;
  top: 20px;
  padding: .5em 15px;
  font-size: .85em;
}

.copyright {
  margin-bottom: .2em;
}

.pipe {
  display: none;
}

.credit {
  margin: 0 auto 1.2em;
  padding-bottom: 20px;
}

.credit a {
  color: #777;
}

.credit a:visited {
  color: #777;
}

.credit a:focus {
  color: #000;
}

@media screen and (min-width: 1030px) {
  .credit a:hover {
    color: #000;
  }
}

.credit img {
  position: relative;
  top: .1em;
  width: 1em;
  height: 1em;
  margin-left: .6em;
}

@media screen and (min-width: 500px) {
  .copy-credit {
    position: relative;
    top: 10px;
    height: 4em;
    margin: 0 auto;
    clear: both;
    text-align: center;
  }

  .copy-credit p {
    float: left;
  }

  .pipe {
    display: inherit;
    padding-right: .5em;
    padding-left: .5em;
  }
}

/* Slide Navigation */

.menu {
  position: fixed;
  z-index: 200;
  background-color: #aa0332;
  transition: transform 0.3s;
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-close {
  color: #fff;
  background-color: #850126;
  font-size: 1.1em;
  font-weight: 400;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.menu-close:focus {
  outline: none;
}

body.has-active-menu {
  overflow: hidden;
}

.mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.menu-slide-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.menu-slide-right {
  width: 250px;
}

.menu-slide-right .menu-item {
  display: block;
  text-align: left;
  border-bottom: solid 1px #e0d4d7;
  text-decoration: none;
}

.menu-slide-right .menu-item:first-child {
  border-top: none;
}

.menu-slide-right .menu-link {
  display: block;
  padding: 12px 24px;
  color: #e0d4d7;
}

.menu-slide-right .menu-link:focus {
  color: #fff;
}

.menu-slide-right .menu-close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.menu-slide-right {
  right: 0;
  transform: translateX(100%);
}

.menu-slide-right {
  transform: translateX(250px);
}


.menu-slide-right.is-active{
  transform: translateX(0);
}

button {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  width: 100%;
  border: 0;
  background-color: #d20b43;
  color: #fff;
  padding: .6em 1.5em;
  text-transform: uppercase;
  letter-spacing: .02em;
}

.button {
  text-align: right;
  height: 100px;
  padding-top: 65px;
  padding-right: 25px;  
}

.menu-close {
  height: 60px;
  text-align: left;
}

.menu-close img.hamburger,
#button-slide-right img.hamburger {
  width: 17px;
  position: relative;
  margin-right: .3em;
}

.main-nav {
  display: none;
}

@media screen and (min-width: 800px) {
  .main-nav {
    display: inherit;
  }
  .buttons {
    display: none;
  }
  .prison-pet {
    display: none;
  }
}

#button-slide-right {
  position: fixed;
  top: 0;
  z-index: 50;
}

@media screen and (max-width: 799px) {
  .logo {
    display: block;
    position: absolute;
    top: -20px;
    left: 5px;
    margin: 0;
    padding: 0;
    background: url(../images/logo-icon.svg) no-repeat center;
    background-size: 130px 130px;
    width: 140px;
    height: 140px;
    z-index: 90;
  }

  .prison-pet {
    position: relative;
    top: -25px;
    width: 100%;
    background-color: #aa0332;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    line-height: 60px;
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em
    -webkit-transform: translate3d(0, 0, 0);
    margin-bottom: 0;  
  }

  .prison-pet::after {
    content: "";
    display: table;
    clear: both;
  }

  #button-slide-right {
  }

  header {
    display: none;
  }

  a.menu-link {
    text-decoration: none;
  }

  .sidebar .side-links {
    position: relative;
    top: -30px;
    padding-top: 5px;
  }

  #menu-slide-right {
    top: 0;
  }

  .content-wrapper {
    clear: both;
  }

  .sidebar::after {
    content: "";
    display: table;
    clear: both;
  }

  .main-content {
    position: relative;
  }
}

@media screen and (max-width: 549px) {
  .prison-pet {
    top: 100px;
  }

  .sidebar .side-links {
    position: relative;
    top: 100px;
    padding-top: 5px;
  }
}

/* About Us Page */

.title {
  font-style: italic;
  color: #999;
}

.board-wrapper,
.staff-wrapper {
  margin-bottom: 1.8em;
}

@media screen and (min-width: 800px) {
  .board-wrapper,
  .staff-wrapper {
    display: inline-block;
    float: left;
  }

  .board-wrapper {
    margin-right: 5em;
  }
}

/* Contact Page */

.contact a {
  color: #999;
  text-decoration: none;
}

.contact a:focus {
  color: #555;
}

@media screen and (min-width: 1030px) {
  .contact a:hover {
    color: #555;
  }
}

/* Calendar Page */

.events h4 {
  margin-top: 1em;
}

.events li {
  margin-left: 2em;
  font-weight: 300;
}

.events span {
  font-weight: 600;
  padding-right: .4em;
}

/* News Page */

.news h5 {
  font-weight: 600;
}

.newsletters h5 {
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .newsletters .column1,
  .newsletters .column2,
  .newsletters .columen3 {
    display: inline-block;
    float: left;
    margin-bottom: 1.8em;
  }

  .newsletters .column1,
  .newsletters .column2 {
    margin-right: 7em;
  }
}

/* Board and Groom Page */

.board-groom ul {
  margin-bottom: 1em;
}

.board-groom h5 {
  margin-top: 0;
  font-size: 1em;
}

.board-groom h3 {
  margin-bottom: 1.6em;
  font-size: 1.3em;
}

.board-groom h3 a,
.volunteer h3 a {
  color: #999;
  text-decoration: none;
}

.board-groom h3 a:focus,
.volunteer h3 a:focus {
  color: #555;
}

@media screen and (min-width: 1030px) {
  .board-groom h3 a:hover,
  .volunteer h3 a:hover {
    color: #555;
  }
}

.volunteer h3 {
  margin-bottom: 1.3em;
}

.volunteer h4 {
  font-size: 1.3em;
  margin-top: 1.3em;
  margin-bottom: -.4em;
}

/* Bark and Bid Page */

.bark-bid-image {
  width: 100%;
  background: url(../images/bark-bid-img-small.jpg) no-repeat top;
  background-size: cover;
  padding-bottom: 64.96063%;
  margin-bottom: 2em;
}

.convention-center p {
  padding-top: 1em;
}

@media screen and (min-width: 550px) {
  .bark-bid-image {
    background-image: url(../images/bark-bid-img.jpg);
    padding-bottom: 54.875%;
    border: 1px solid #ccc;
  } 
  
  .convention-center {
    display: table;
    border-collapse: collapse;
  }

  .convention-center p {
    display: table-cell;
    vertical-align: middle;
    width: 55%;
    padding: 0 3%;
  }

  .convention-center img {
    display: table-cell;
    vertical-align: middle;
    float: left;
  }
}

/* Donate Page */

.donate-options a {
  display: block;
  height: 70px;
}

.donate-options a:hover {
  color: #000;
}

a.paypal {
  margin-top: 30px;
}

a.mail-in {
  margin-bottom: -20px;
}

.donate-options img {
  width: 50px;
  position: relative;
  bottom: 10px;
}

.donate-page strong {
  color: #555;
}

.pause-for-cause span {
  font-style: italic;
}

.donate-page img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.fred-meyer img {
  width: 140px;
}

.wooftrax img {
  width: 100px;
}

.go-fund-me img {
  width: 155px;
}

.amazon-smile img {
  width: 145px;
}

.kuranda img {
  width: 120px;
}

.pause-for-cause img {
  width: 135px;
}

.donate-page .column1 hr {
  margin-top: 20px;
}

.bark-bid-container {
  width: 100%;
  position: relative;
  text-align: center;
}

img.bark-bid-logo {
  margin: 0;
  float: none;
  width: 80%;
  margin-bottom: -6.5%;
  margin-left: -6.5%;
}

.bark-bid-sponsors {
  clear: both;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #222;
  text-align: center;
  font-size: .82em;
  margin-bottom: 40px;
}

.bark-bid-sponsors h5 {
  font-size: 1.2em;
}

img.thank-you-img {
  margin: 0;
  float: none;
  width: 95%;
}

.sponsor-list {
  position: relative;
  top: 10px;
  padding: 2em;
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 2.5% 20px;
}

p.thank-you {
  padding-top: 1.5em;
  font-size: 1.1em;
}

@media screen and (min-width: 600px) {
  .donate-page .column1 {
    width: 43%;
    float: left;
  }

  .donate-page .column2 {
    float: right;
    width: 50%;
    margin-right: 0;
  }

  .donate-page .column1 {
    margin-right: 4%;
  }
}
