/*-------------------------------------*/
/* MODIFIED MEYER RESET */

html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, address, em, img,
strong, ul, li, article,
aside, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* HTML5 display-role reset for older browsers */

article, aside, footer, header, nav, section {
  display: block;
}

ul {
  list-style: none;
}

/*-------------------------------------*/
/* GLOBAL */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  /*position: relative;*/
  /*overflow-x: hidden; */
  /*-webkit-backface-visibility: hidden;*/
}

body {
  font: 400 16px/1.5 'Open Sans', sans-serif;
  color: #777;
  /* to fix text resizing ios */
  -webkit-text-size-adjust: none;
  /* momentum scrolling ios */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

p {
  margin-bottom: .8em;
  font-size: .95em;
}

strong {
  font-weight: 600;
}

h2 {
  margin-bottom: .5em;
  font-size: 1.8em;
  font-weight: 600;
  color: #48a1b9;
  line-height: 1.3;
}

h3 {
  margin-bottom: .15em;
  font-size: .95em;
  font-weight: 600;
  color: #555;
  line-height: 1.4;
}

a {
  color: #d20b43;
}

/*a:focus {
  color: #000;
}*/

hr {
  margin: 30px 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  clear: both;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (min-width: 600px) {
  p {
    font-size: 1em;
  }

  h3 {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1030px) {
  body {
    font-weight: 300;
  }

  strong {
    font-weight: 400;
  }

  a:hover {
    color: #000;
  }
}

@media screen and (min-width: 1120px) {
  body {
    background-color: #ccc;
  }

  .page-wrapper {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
  }
}

/*-------------------------------------*/
/* HEADER */

header {
  background-color: #aa0332;
  height: 100px;
  margin-bottom: 80px;
}

.logo-icon {
  margin-top: 10px;
  margin-left: 25px;
}

.logo {
  display: none;
}

.header-image {
  display: none;
}

.nav-menu-open {
  float: right;
  margin-top: 67px;
  margin-right: 25px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
}

h1 {
  clear: both;
  position: relative;
  top: 5px;
  width: 100%;
  background-color: #d20b43;
  color: #fff;
  text-align: left;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05em; 
}

@media screen and (min-width: 870px) {
  header {
    background-color: #fff;
    height: 200px;
    margin-bottom: 10px;
  }

  .logo-icon {
    display: none;
  }

  .logo {
    float: left;
    display: initial;
    width: 14%;
    margin: 5% 3% 0;
  }

  .header-image {
    display: initial;
    float: right;
    width: 80%;
    height: 200px;
    background: url(../images/header-service-dogs.jpg) no-repeat left;
    background-size: cover;
  }

  .nav-menu-open {
    display: none;
    padding: 0;
    width: 0;
  }

  h1 {
    display: none;
  }
}

@media screen and (min-width: 1050px) {
  .logo {
    margin: 4% 3% 0;
  }
}

/*-------------------------------------*/
/* NAVIGATION MENU */

.nav-menu {
  position: fixed;
  z-index: 200;
  background-color: #aa0332;
  transition: transform 0.3s;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  right: 0;
  width: 250px;
  text-align: left;
  transform: translateX(250px);
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu-close {
  color: #fff;
  background-color: #850126;
  font-size: 1.1em;
  font-weight: 400;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.nav-menu-close:focus {
  outline: none;
}

/* When menu is active, hide overflow on body to prevent scrolling */
body.menu-open {
  overflow: hidden;
}

.mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-item {
  display: block;
  border-bottom: solid 1px #e0d4d7;
}

.nav-item:first-child {
  border-top: none;
}

.nav-link {
  text-decoration: none;
  display: block;
  padding: 11px 24px;
  color: #e0d4d7;
}

/*.nav-link:focus {
  color: #fff;
}*/

.nav-menu-close {
  display: block;
  padding: 13px 24px;
  width: 100%;
}

.nav-menu.active {
  transform: translateX(0);
}

.menu-icon {
  width: 17px;
  margin-right: 10px;
}

@media screen and (min-width: 870px) {
  .nav-menu {
    position: relative;
    width: 100%;
    height: 3.3em;
    line-height: 3.3em;
    background-color: #d20b43;
    transform: none;
    margin-bottom: 30px;
  }

  .nav-items {
    margin: 0 auto;
    text-align: center;
  }

  .nav-item {
    display: inline-block;
  }

  a.nav-link {
    display: inline;
    padding: .6em .45em;
    font-size: .85em;
    color: #fff;
    text-decoration: none;
  }

  a.current-page {
    background-color: #aa0332;
  }

/*  a.nav-links:focus {
    background-color: #aa0332;
  }*/
  
  .nav-menu-close {
    display: none;
    padding: 0;
    width: 0;
  }
}

@media screen and (min-width: 985px) {
  a.nav-link {
    padding: .6em .7em;
    font-size: .9em;
  }
}

@media screen and (min-width: 1030px) {
  a.nav-link {
    padding: .6em .9em;
  }

  a.nav-link:hover {
    background-color: #aa0332;
  }
}

@media screen and (min-width: 1120px) {
  .nav-menu {
    position: relative;
    width: 102%;
    margin-left: -1%;
  } 
}

@media screen and (min-width: 1270px) {
  a.nav-link {
    padding: .6em 1.1em;
  }
}

/*-------------------------------------*/
/* SIDEBAR */

.sidebar {
  float: left;
  clear: both;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 550px) {
  .sidebar {
    position: relative;
  }
}

@media screen and (min-width: 870px) {
  .sidebar {
    float: left;
    width: 20%;
    margin: 5px 4.5% 35px 3.75%;
  }
}

/*-------------------------------------*/
/* SIDEBAR - LINKS */

.sidebar-link {
  margin-left: 21px;
  margin-bottom: 1em;
  text-decoration: none;
  display: block;
  color: #777;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 60px;
}

.sidebar-link:last-child {
  margin-bottom: 1.5em;
}

.sidebar-img {
  float: left;
  width: 60px;
  margin-right: .7em;
}

.download {
  display: none;
}

@media screen and (min-width: 550px) {
  .sidebar .sidebar-links {
    position: relative;
    text-align: center;
    padding: .5em;
  }

  .sidebar .sidebar-links a {
    line-height: 1.4;
    float: left;
    width: 20%;
    padding-right: 1.4em;
    padding-left: 1.4em;
    font-size: .85em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2.6em;
  }

  .sidebar-img {
    float: none;
    display: block;
    margin: 0 auto .5em;
  }
}

@media screen and (min-width: 870px) {
  .sidebar .sidebar-links {
    padding-top: 35px;
    clear: both;
    background-color: #eee;
    text-align: center;
  }

  .sidebar .sidebar-links a {
    text-align: center;
    float: none;
    width: 100%;
  }

  .download {
    display: initial;
  }
}

/*-------------------------------------*/
/* SIDEBAR - HIRING */

.hiring-wrapper {
  width: 100%;
  clear: both;
  font-weight: 300;
  letter-spacing: .02em;
  color: #fff;
  background-color: #81af68;
  display: table;
  border-collapse: collapse;
  margin-bottom: 33px;
}

.hiring {
  margin: 25px;
  clear: both;
}

.hiring h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0;
  color: #fff;
}

.hiring p {
  line-height: 1.6;
}

.hiring a {
  color: #fff;
  font-weight: 400;
}

/*.hiring a:focus {
  color: #2d7009;
}*/

@media screen and (min-width: 1030px) {
  .hiring a:hover {
    color: #2d7009;
  }
}

/*-------------------------------------*/
/* MAIN CONTENT */

.main-content {
  position: relative;
  padding: 25px 5%;
}

@media screen and (min-width: 600px) {
  .main-content {
    padding-right: 3.75%;
    padding-left: 3.75%;
  }
}

@media screen and (min-width: 870px) {
  .main-content {
    padding: 0;
    width: 68%;
    margin: 35px 3.75% 30px 0;
    float: right;
  }
}

/*-------------------------------------*/
/* HOME PAGE */

.article-img {
  float: right;
  margin-left: 1em;
  margin-bottom: .3em;
}

.article {
  margin-bottom: .3em;
}

img.bark-bid {
  height: 115px;
}

img.dog-training {
  height: 145px;
}

img.calendar-2016 {
  height: 115px;
}

img.camille {
  height: 115px;
}

.adi {
  float: left;
  width: 85px;
  margin-right: 25px;
}

.ibpsa {
  float: left;
  width: 100px;
}

@media screen and (min-width: 600px) {
  .article-img {
    display: none;
  }

  .main-content article {
    display: table;
    margin: .2em 0;
    background-repeat: no-repeat;
  }

  .bark-bid {
    min-height: 220px;
    padding-left: 330px;
    background: url(../images/bark-bid-2016.jpg) left center;
  }

  .dog-training {
    min-height: 250px;
    padding-right: 200px;
    background: url(../images/dog-training.jpg) right center;
  }

  .calendar-2016 {
    min-height: 220px;
    padding-left: 315px;
    background: url(../images/calendar-2016.jpg) left center;
  }

  .camille {
    min-height: 220px;
    padding-right: 285px;
    background: url(../images/camille.jpg) right center;
  }
}

@media screen and (min-width: 700px) {
  .article-link {
    margin-top: .5em;
    display: inline-block;
    padding: .3em .7em .4em;
    margin-bottom: .5em;
    color: #d20b43;
    text-decoration: none;
    border: 1px solid #d20b43;
  }

/*  .article-link:focus {
    color: #d20b43;
    background-color: #ffeeee;
  }*/
}

@media screen and (min-width: 1030px) {
  .article-link:hover {
    color: #d20b43;
    background-color: #ffeeee;
  }
}


/*-------------------------------------*/
/* FOOTER */

footer {
  clear: both;
}
