// Color Names
$white: #fff;
$pink: #fee;
$grey1: #eee;
$pink-grey: #e0d4d7;
$red-light: #d20b43;
$grey2: #ccc;
$green-light: #c7dcbc;
$red-medium: #aa0332;
$grey3: #999;
$red-dark: #850126;
$green-medium: #81af68;
$grey4: #777;
$grey5: #666;
$grey6: #555;
$blue: #48a1b9;
$grey7: #222;
$black: #000;
